@import "~bootstrap/dist/css/bootstrap.min.css";

#container-main {
    padding: 10px;
    margin: 10px;
}

h1 {
    color: aqua;
}

.employee-container {
    display: inline-block;
    margin: 10px;
}